/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-height);
  background-color: transparent; /* Invizibil inițial */
  color: var(--header-text-color);
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--z-index-header);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
  box-sizing: border-box;
}

.scrolled {
  background-color: var(--header-bg-color); /* Vizibil după scroll */
}

/* Container */
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Logo */
.logo {
  margin-left: 10px;
}

.logoImage {
  width: 250px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.logoImage:hover {
  transform: scale(1.1);
}

/* Navigation */
.nav {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navLinks li a {
  text-decoration: none;
  color: var(--header-text-color);
  font-family: var(--font-family-secondary);
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out;
  padding: 10px 15px;
  position: relative;
}

.navLinks li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--accent-color);
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease-in-out;
}

.navLinks li a:hover::after {
  width: 100%;
}

.navLinks li a:focus {
  outline: none;
  color: var(--accent-color);
}

/* Icoane sociale */
.socialIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.socialIcons a {
  font-size: 24px;
  color: var(--header-text-color);
  transition: color 0.3s ease;
}

.socialIcons a:hover {
  color: var(--accent-color);
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  z-index: 1100;
  transition: transform 0.3s ease-in-out;
}

.line {
  width: 100%;
  height: 3px;
  background-color: var(--header-text-color);
  transition: all 0.3s ease-in-out;
}

.hamburgerOpen .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburgerOpen .line:nth-child(2) {
  opacity: 0;
}

.hamburgerOpen .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Media Queries */
@media (max-width: 768px) {
  .header {
    background-color: transparent; /* Invizibil pe mobil */
  }

  .scrolled,
  .navOpen {
    background-color: var(
      --header-bg-color
    ); /* Vizibil când meniul este deschis */
  }

  .nav {
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: 50%;
    width: 100%;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 1000;
  }

  .navOpen {
    transform: translateX(0);
    opacity: 1;
    background-color: var(--header-bg-color); /* Vizibil cu meniul deschis */
  }

  .navLinks {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .navLinks li a {
    font-size: 1.5rem;
    padding: 15px 0;
  }

  .hamburger {
    display: flex;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  .socialIcons {
    margin-top: 30px;
  }
}
